@model IEnumerable<JobcardInter.Models.Technician>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TechFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TechFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TechnicianID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TechnicianID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TechnicianID })
        </td>
    </tr>
    <br />
    @Html.ActionLink("Back to dashboard ", "MainHome", "Dash")
}

</table>
